# dev
/lib/
/dependencies/
/old/
/mpv/

# python cache
__pycache__/

# tests
tests/assets/*
test_outputs/
/Testing/

# outputs
build/
bin/
out/

# visual studio
.vs

# cmake
compile_commands.json
CMakeFiles/

# vcpkg
vcpkg_installed/

# Keep .gitkeep files
!.gitkeep
